@model IEnumerable<Blog>

@foreach (var item in Model)
{
    <div class="card">
        <img src="~/img/@item.Image" class="card-img-top" alt="resim yok">
        <div class="card-header">
            @item.Title
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}